[submodule "supply-chain-services"]
	path = supply-chain-services
	url = https://github.com/Azure/supply-chain-services.git
	branch = master
[submodule "supply-chain-office-integration"]
	path = supply-chain-office-integration
	url = https://github.com/Azure/supply-chain-office-integration.git
	branch = master
[submodule "supply-chain-smart-contracts"]
	path = supply-chain-smart-contracts
	url = https://github.com/Azure/supply-chain-smart-contracts.git
	branch = master
